header
    display: flex
    justify-content: space-around
    align-items: center
    background-color: #0a3e27
    background-image: linear-gradient(90deg, #0a3e27 0%, #1a7048 100%)
    color: #FFFFFF
    div
        p
            margin: 0
            font-size: 1.5rem
    nav
        padding: 0.5rem
        ul
            display: flex
            justify-content: space-between
            align-items: center
            list-style-type: none
            margin: 0
            li
                margin: 0 0.5rem
                font-size: 1.4rem